/*Pager*/
.BE--Pager {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(190,190,190), stop:1 rgb(180,180,180));
  padding-right:5px; 
  padding-left:5px;
  border-bottom-right-radius:13px;
  border-bottom-left-radius:13px;
  border-top-right-radius:13px;
  border-top-left-radius:13px;
}

.BE--Pager QToolButton {
  background-image: url("/home/nemo/.kde4/share/icons/Light/pager.png");
  background-position:center;
  background-repeat:no-repeat;
  padding-left:8px;
  border:none;
  color:transparent;
  max-width:8px;
}

.BE--Pager QToolButton:checked {
  background-image: url("/home/nemo/.kde4/share/icons/Light/pager_check.png");
  background-position:center;
  background-repeat:no-repeat;
  padding-top:1px;
  padding-left:0px;
  border:none;
  color:transparent;
  max-width:12px;
}

.BE--Pager QToolButton:hover {
  background-image: url("/home/nemo/.kde4/share/icons/Light/pager_hover.png");
  background-position:center;
  background-repeat:no-repeat;
  padding-top:1px;
  padding-left:0px;
  border:none;
  color:transparent;
  max-width:12px;
} 
 
