
/* L'intera taskbar */
.BE--Tasks {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(190,190,190), stop:1 rgb(180,180,180));
  border:none;
  padding-right:5px;
  padding-left:5px;
  border-top-right-radius:13px;
  border-top-left-radius:13px;
  border-bottom-right-radius:13px;
  border-bottom-left-radius:13px;
}

/* Le singole task */
.BE--Task {
  max-width:25px;
  margin: -1 0 0 0;
  padding: 2 0 1 0;
  border:none;
}

.BE--Task::hover {
  background-image: url("/home/nemo/.kde4/share/icons/Light/app_hover.png");
  background-position:top;
  background-repeat:no-repeat;
  padding-left:1px;
  padding-right:1px;
}

/*Task attive*/
#OneTask, #ManyTasks {
  background-image: url("/home/nemo/.kde4/share/icons/Light/app_open.png");
  background-position:top;
  background-repeat:no-repeat;
  padding-left:1px;
  padding-right:1px;
} 
