/*Light theme for Be::Shell by Cornhelius 
 
/* Here starts the panels config*/

#Clock {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  color: rgb(255,255,255);
  font-family:overlock sc;
  font-size:10pt;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  border: none;
  border-bottom-right-radius:13px;
  border-bottom-left-radius:13px;
  border-top-right-radius:13px;
  border-top-left-radius:13px;
}

.BE--Volume { 
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  padding-bottom:1px;
  padding-left:0px;
  padding-right:0px;
  margin:0px;
  max-width:19px;
}

#net {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  padding-right:5px;
  border-bottom-right-radius:13px;
  border-top-right-radius:13px;
}

.BE--MediaTray {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
}

.BE--MediaTray QToolButton {
  background-color:rgba(0,0,0,0);
  border:none;
  padding-right:2px;
  padding-left:2px;
  padding-top:2px;
  max-width:16px;
}

.BE--MediaTray QToolButton::hover {
  border:none;
}

#BottomLeftPanel {
  background-color:transparent;
  border:none;
  padding-bottom:5px;
  padding-left:5px;
}

#TopLeftPanel {
  background-color:transparent;
  border:none;
  padding-top:5px;
  padding-left:5px;
}

#BottomRightPanel {
  background-color:transparent;
  border:none;
  padding-bottom:5px;
  padding-right:5px;
}

#start {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  border-bottom-left-radius:13px;
  border-top-left-radius:13px;
  border:none;
  max-width:24;
  padding-left:5;
}

.BE--Session:menu-indicator {
  image:none;
}

#TopRightPanel {
  background-color:transparent;
  border:none;
  padding-top:5px;
  padding-right:5px;
}

#wmbutton {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  border-bottom-right-radius:13px;
  border-bottom-left-radius:13px;
  border-top-right-radius:13px;
  border-top-left-radius:13px;
  padding-left:5px;
  padding-right:5px;
}

.BE--WmCtrl QToolButton {
  background-color:transparent;
  border:none;
  padding-right:2px;
  padding-left:2px;
  padding-top:5px;
  padding-bottom:5px;
}

/*.BE--WmCtrl QToolButton:hover {
  background-color:white;
  border:none;
  margin:2px;
  padding-right:2px;
  padding-left:2px;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom-right-radius:11px;
  border-bottom-left-radius:11px;
  border-top-right-radius:11px;
  border-top-left-radius:11px;
}*/

#upico {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  padding-left:3px;
}

#mail {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  color:rgb(0,0,0);
  font-family:overlock sc;
  padding-left:5px;
  border-top-left-radius:13px;
  border-bottom-left-radius:13px;
}

#mpc {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  padding-top:0px;
  padding-right:5px;
  padding-left:5px;
  font-size:9pt;
  font-family:oxygen sans;
  border-top-right-radius:13px;
  border-top-left-radius:13px;
  border-bottom-right-radius:13px;
  border-bottom-left-radius:13px;
  border:none;
  color:rgb(250,250,250);
}

/* L'intera taskbar */
.BE--Tasks {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  border:none;
  padding-right:10px;
  padding-left:10px;
  border-top-right-radius:13px;
  border-top-left-radius:13px;
  border-bottom-right-radius:13px;
  border-bottom-left-radius:13px;
}

/* Le singole task */
.BE--Task {
  max-width:25px;
  margin: -1 0 0 0;
  padding: 2 0 1 0;
  border:none;
}

.BE--Task::hover {
  background-image: url("/home/nemo/.kde4/share/icons/Circle/Light/app_hover.png");
  background-position:top;
  background-repeat:no-repeat;
  padding-left:1px;
  padding-right:1px;
}

/*Task attive*/
#OneTask, #ManyTasks {
  background-image: url("/home/nemo/.kde4/share/icons/Circle/Light/app_open.png");
  background-position:bottom;
  background-repeat:no-repeat;
}

#spacer {
  max-width:5px;
}

/*Pager*/
.BE--Pager {
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  padding-right:5px; 
  padding-left:5px;
  border-bottom-right-radius:13px;
  border-bottom-left-radius:13px;
  border-top-right-radius:13px;
  border-top-left-radius:13px;
}

.BE--Pager QToolButton {
  background-image: url("/home/nemo/.kde4/share/icons/Circle/Light/pager.png");
  background-position:center;
  background-repeat:no-repeat;
  padding-left:8px;
  padding-right:5px;
  border:none;
  color:transparent;
  max-width:8px;
}

.BE--Pager QToolButton:checked {
  background-image: url("/home/nemo/.kde4/share/icons/Circle/Light/pager_check.png");
  background-position:center;
  background-repeat:no-repeat;
  padding-top:1px;
  padding-left:0px;
  border:none;
  color:transparent;
  max-width:12px;
}

.BE--Pager QToolButton:hover {
  background-image: url("/home/nemo/.kde4/share/icons/Circle/Light/pager_hover.png");
  background-position:center;
  background-repeat:no-repeat;
  padding-top:1px;
  padding-left:0px;
  border:none;
  color:transparent;
  max-width:12px;
} 

/*Global Menu*/
.BE--GMenu QMenuBar {  font:9pt overlock sc; padding:5 12 0 5; 
  background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(36,10,11), stop:0.5 rgb(26,0,1), stop:1 rgb(36,10,11));
  border:none;
  border-bottom-right-radius:13px;
  border-top-right-radius:13px;
}

.BE--GMenu QMenuBar::item {
  background-color:transparent;
  color:rgb(255,255,255);
}

.BE--GMenu QMenuBar::item::selected {
  color:rgb(255,255,255);
  background-color:rgb(55,139,251);
  border-radius:9px;
}

/*The menus */
QMenu {
  background:rgba(255,255,255,240);
  color:rgb(0,0,0);
  border:none;
  font-size:9pt;
  font-family:oxygen sans;
}

QMenu::item {
  border:transparent;  
  padding:3 24 3 2;
}

QMenu::item:selected {
  background:rgb(55,139,251);
  color:rgb(255,255,255);
  padding:3 24 3 2;
}

QMenu::indicator {
  subcontrol-origin: margin;
  subcontrol-position: top right;
  margin:6px;
}

QMenu::indicator:non-exclusive:unchecked {
  background: rgba(255,255,255,70);
  border:none;
  margin:7px;
}

QMenu::indicator:non-exclusive:checked {
  background:rgba(255,255,255,70);
}

QMenu::separator {
  height:1px;
  border:none;
  background:rgb(226,225,227);
}

/*Calendar*/
#Calendar {
  background:rgba(62,175,232,150);
  color:black;
}

#Calendar * {
  color:black;
  selection-background-color:rgba(62,175,232,150);
  selection-color:black;
}

#Calendar QToolButton {
  font-family:senza grazie;
  font-size:9pt;
  padding-left: 1px;
  padding-top:1px;
  padding-bottom:10px;
  padding-right: 1px;
}

#Calendar QWidget {
  font-size:7pt;
  background:rgb(132,132,132);
}

#Calendar QWidget:Qlabel {
  font-size:5pt;
  background:rgb(132,132,132);
}

#Calendar QComboBox {
  margin:4px;
  padding-right:6px;
  border:none;
}

#Calendar QComboBox::drop-down {
  border:none;
  background:transparent;
}

#Calendar QComboBox::down-arrow, QMenu::left-arrow {
  position:absolute;
  subcontrol-origin: margin;
  subcontrol-position: top right;
  margin:3px;
  margin-top:6px;
  margin-bottom:6px;
  width:13px;
  background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #BBBBBB, stop:1 #D1D1D1);
  border:1px solid #AAAAAA;
}*/

#Calendar .KDatePicker {
  margin:8px;
}
